@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
}

#avatar {
  background-image: url("/assets/me.jpeg");
  width: 175px;
  height: 175px;
  border-radius: 50%;
  background-size: 275%;
  background-position: 48% 52%;
}
